body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background:linear-gradient(180deg,purple,CYAN,blue);
}
header{
    display: flex;
    justify-content: center;
    width: 100%;
}
header img{
    width: 10%;
}
section{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;    
}
section h1{
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    font-size: 4.5em;
    font-family:Custom;
}
section h2{
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    font-size: 3em;
    font-family:Custom;
}

#logo{
    width: 20%;
}

form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.mostrarContraseña{
    width:11em;
    height:3em;
    background:linear-gradient(180deg,purple,CYAN,blue);
    border-radius: 1em;
    transition: 1.5s;
}

.mostrarContraseña:hover{
    width:13.5em;
    height:4.5em;
    background:linear-gradient(180deg,purple,CYAN,blue);
}

#EnviarFormulario{
    width:5em;
    height:3em;
    background:linear-gradient(180deg,purple,CYAN,blue);
    border-radius: 1em;
}

#EnviarFormulario:hover{
    width:8em;
    height:4.5em;
    transition: 1.5s;
    background:linear-gradient(180deg,purple,CYAN,blue);
}

#suscribete{
    margin: 4em;
    margin-left: 350px;
    width:8em;
    height:3em;
    background:linear-gradient(180deg,purple,CYAN,blue);
}

#nombre,#apellidos,#contraseña,#contraseña2{
    margin-bottom: 1em;
    height: 1.5em;
    width: 70%;
}

#email,#fecha{
    height: 1.5em;
    width: 70%;
}

form input:focus{
    background-color: lightblue;
    border: solid;
    height: 3em;
    transform: rotatex(10deg);
}

#divSexo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sexo{
    font-size: 2em;
    font-family: Impact;
}

#elegirSexo{
    display: flex;
    flex-direction: row;
}

#divHombre{
    display: flex;
    margin-right: 5em;
}

#divMujer{
    display: flex;
}

#hombre,#mujer{
    width: 15%;
}

#checkbox{
    margin-bottom: 1em;
}

#divNotificaciones{
    display: flex;
    flex-direction: row;
}

#divRevista{
    display: flex;
    flex-direction: row;
}

#notificaciones{
    width: 7%;
    margin-right: 1em;
}

#direccion{
    height: 1.5em;
    width: 70%;
}

#imgdescripcion{
    display: flex;
    justify-content: center;
    width: 75%;
    margin-top: 5em;
    margin-bottom: 5em;
}

#caracteristicas{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#paises{
    width: 71%;
}

#contraseñacoincide, #textoContraseña, #textocorreo{
    width: 100%;
}

figure{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

figure img{
    display: flex;
    width: 33%;
    justify-content: center;
}

figcaption{
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

figcaption h3,figcaption p{
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
}

@font-face {
    font-family:'Custom';
    src: url("fonts/Pixels.ttf");
}

#inicio{
    margin:5em;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 8em;
    height: 3em;
    background:linear-gradient(180deg,purple,CYAN,blue);
    border-radius: 1em;
}

#inicio:hover{
    width:10em;
    height:4.5em;
    transition: 1.5s;
    background:linear-gradient(180deg,purple,CYAN,blue);
}

#enviarFormulario{
    margin: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 8em;
    height: 3em;
    background:linear-gradient(180deg,purple,CYAN,blue);
}

#textocorreo,#contraseñacoincide,#textoContraseña{
    display: none;
    color:blue;
}

#sexo{
    color: black;
}

@media (max-width: 832px){

    header img{
        width: 20%;
    }

    section h1{
        font-size: 3.75em;
    }

    section h2{
        font-size: 2.25em;
    }

    #logo{
        width: 40%;
    }

    figure{
        margin-left: 0em;
    }

    #caracteristicas{
        flex-direction: column;
    }

}