body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background:linear-gradient(180deg,purple,CYAN,blue);
}
header{
    display: flex;
    justify-content: center;
    width: 100%;
}
header img{
    width: 10%;
}
section{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;    
}
section h1{
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    font-size: 4.5em;
    font-family:Custom;
}
section h2{
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    font-size: 3em;
    font-family:Custom;
}
form{
    display: block;
    flex-wrap: wrap;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    width: 50%;
}
form button{
    margin: 4em;
    margin-left: 250px;
    width:8em;
    height:3em;
    background:linear-gradient(180deg,purple,CYAN,blue);
}

form button:hover{
    margin: 4em;
    margin-left: 250px;
    width:12em;
    height:4.5em;
    transition: 1.5s;
    transform:rotate(0deg);
    background:linear-gradient(180deg,purple,CYAN,blue);
}

input{
    border: none;
}

#nombre,#apellidos,#contraseña,#contraseña2{
    height: 1.5em;
    background-color: white;
    width: 60%;
    margin: 2.5px;
    margin-left: 125px;
}

input:focus{
    background-color: lightblue;
    border: solid;
    transform: rotatex(10deg);
}

#hombre,#mujer,form p{
    width: 10%;
    margin-left: 125px;
}
#email,#fecha{
    height: 1.5em;
    margin: 2.5px;
    margin-left: 125px;
    width: 60%;
}
#notificaciones{
    margin: 5px;
    margin-left: 125px;
    width: 10%;
}
#direccion{
    height: 1.5em;
    margin-left: 125px;
    width: 60%;
}
#imgdescripcion{
    display: flex;
    justify-content: center;
    width: 75%;
    margin-top: 5em;
    margin-bottom: 5em;
}
#caracteristicas{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
figure{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
figure img{
    display: flex;
    width: 33%;
    justify-content: center;
}
figcaption{
    color: white;
    width: 100%;
}
figcaption h3,figcaption p{
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
}
@font-face {
    font-family:'Custom';
    src: url("fonts/Pixels.ttf");
}
#boton{
    margin: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 8em;
    height: 3em;
    background:linear-gradient(180deg,purple,CYAN,blue);
}

#enviarFormulario{
    margin: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 8em;
    height: 3em;
    background:linear-gradient(180deg,purple,CYAN,blue);
}
#textocorreo,#contraseñacoincide,#textoContraseña{
    display: none;
    color:blue;
}
#sexo{
    color: black;
}
@media (max-width: 832px){

    header img{
        width: 20%;
    }

    section h1{
        font-size: 3.75em;
    }

    section h2{
        font-size: 2.25em;
    }

    figure{
        margin-left: 0em;
    }

    #caracteristicas{
        flex-direction: column;
    }

}
